@import "compass/css3";

$greenLight : #2ECC71;
$greenDark  : #27AE60;
$yellowLight: #F2EC43;
$yellowDark : #E3D376;
$orangeLight: #F3AE12;
$orangeDark : #E69722;
$redLight   : #E74C3C;
$redDark    : #C0392B;
$white      : #EAEEEF;
$dark       : #3c3c3c;
$padding    : 0.65%;
$align      : center;
$radius     : 3px;
$size       : 1em;
$width      : 100%;
.alert-box-success  {
    @include box-sizing(border-box);
    width: $width;
    background-color:$greenLight ;
    border: solid 2px  $greenDark;
    border-radius: $radius;
    color: $white;
    font-size: $size;
    padding: $padding;
    text-align: $align;
}
.alert-box-information{
    @include box-sizing(border-box);
    width: $width;
    background-color: $yellowLight;
    border: solid 2px $yellowDark;
    border-radius: $radius;
    color: $dark;
    font-size: $size;
    padding: $padding;
    text-align: $align;
}
.alert-box-warning{
    width: $width;
    background-color: $orangeLight ;
    border: solid 2px $orangeDark;
    border-radius: $radius;
    color: $white;
    @include box-sizing(border-box);
    font-size: $size;
    padding: $padding;
    text-align: $align;
}
.alert-box-danger{
    width: $width;
    @include box-sizing(border-box);
    background-color: $redLight;
    border: solid 2px $redDark;
    border-radius: $radius;
    color: $white;
    font-size: $size;
    padding: $padding;
    text-align: $align;
}