@import "compass/css3";

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0; 
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#D3CDFF;
    color:#000;
    text-decoration:none;
    border-radius: 3px;
}

/* change colours to suit your needs */
mark {
    background-color:#D3CDFF;
    color:#000; 
    font-style:italic;
    font-weight:bold;
    border-radius: 3px;
}

del {
    text-decoration: line-through;
    font-style: italic;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body {
    font-family: "MS Arial", "ITC Avant Garde Gothic", "Helvetica", "Courier";
    font-size: 1em;
}
h1, h2, h3, h4, h5, h6{
	color: #000000;
	font-weight: bold;
    font-family: "MS Arial", "ITC Avant Garde Gothic", "Helvetica", "Courier";
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.80rem;
}
h3{
    font-size: 1.64rem;
}
h4{
    font-size: 1.48rem;
}
h5{
    font-size: 1.32rem;
}
h6{
    font-size: 1.16rem;
}
small, .small{
    font-size: 1rem;
    color: #888888;
}
p{
    margin-bottom: 2%;   
}
blockquote{
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
    font-style: italic;
}
blockquote :after, blockquote :before{
    font-family: "MS Arial", "ITC Avant Garde Gothic", "Helvetica", "Courier";
    content: '"';
}

pre > code{
    @include box-sizing(border-box);
    background-color: #272822;
    border-left: solid 3px #F39C12;
    color: #ECF0F1;
    display: inline-block;
    padding: 0.5% 1%;
    margin: 0.5% 1%;
}
kbd{
    background-color: #F4F7F8;
    border-radius: 3px;
    @include box-sizing(border-box);
    border: 1px solid #B4B4B4;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 2px 0px 0px rgba(255, 255, 255, 0.7) inset;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    padding: 0.25% 0.2%;
    white-space: nowrap;
}
ul{
    margin-left: 2%;
    list-style-type: circle;
}
ul.square{
    list-style-type: square;
}
ul.listNone{
    list-style-type: none;
}
.textRight{
    text-align: right;
}
.textLeft{
    text-align: left;
}
.textCenter{
    text-align: center;    
}
.textJustify{
    text-align: justify;
}

.altrene2 :nth-child(1n){
    background-color: #CCCCCC;
}
.altrene2 :nth-child(2n){
    background-color: #BBC6FF;
}
.firstLetter{
    text-transform: capitalize;
}