@import "compass/css3";

$greyLight  : #D1D1D1;
$greyDark   : #BBBBBB;
$blueLight  : #4D8FE8;
$blueDark   : #456DA4;
$greenLight : #2ECC71;
$greenDark  : #27AE60;
$violetLight: #9B59B6;
$violetDark : #8E44AD;
$orangeLight: #F39C12;
$orangeDark : #E67E22;
$redLight   : #E74C3C;
$redDark    : #C0392B;
$white      : #EAEEEF;

.bouton{
    font-size: 1em;
    line-height: 1em;
    padding: 0.5%;
    text-align: center;
    background-color: $greyLight;
    color: #3C3C3C;
    border-radius: 3px;
    border: solid 2px $greyLight;
    border-bottom: solid 2px #C4C4C4;
    @include box-sizing(border-box);
    &:hover{
        border-bottom: none;
        padding-bottom: calc(0.5% + 2px);
        padding-top: calc(0.5% - 2px);
    }   
    &:active{
        border-top: solid 2px #C4C4C4;
    }
}

.bouton-bleu{
    color: $white;
    border: solid 2px $blueLight;
    border-bottom: 2px solid $blueDark;
    background-color: $blueLight;
    &:active{
        border-top: solid 2px $blueDark;
    }
}
.bouton-vert{
    color: $white;
    border: solid 2px $greenLight;
    border-bottom: 2px solid $greenDark;
    background-color: $greenLight;
    &:active{
        border-top: solid 2px $greenDark;
    }
}
.bouton-violet{
    color: $white;
    border: solid 2px $violetLight;
    border-bottom: 2px solid $violetDark;
    background-color: $violetLight;
    &:active{
        border-top: solid 2px $violetDark;
    }
}
.bouton-orange{
    color: $white;
    border: solid 2px $orangeLight;
    border-bottom: 2px solid $orangeDark;
    background-color: $orangeLight;
    &:active{
        border-top: solid 2px $orangeDark;
    }
}
.bouton-rouge{
    color: $white;
    border: solid 2px $redLight;
    border-bottom: 2px solid $redDark;
    background-color: $redLight;
    &:active{
        border-top: solid 2px $redDark;
    }
}
.bouton-small{
    line-height: 0.80em;
    font-size: 0.80em;
    padding: 0.30%;
    border-radius: 3px;
    &:hover{
        padding-bottom: calc(0.3% + 2px);
        padding-top: calc(0.3% - 2px);
    } 
}
.bouton-large{
    line-height: 1.20em;
    font-size: 1.20em;
    padding: 0.80%;
    border-radius: 3px;
    &:hover{
        border-bottom: none;
        padding-bottom: calc(0.8% + 2px);
        padding-top: calc(0.8% - 2px);
    } 
}
.bouton-full{
    width: 100%;
}

.bouton-fat{
    border-radius: 0px;
    border: none;
    &:active{
        border: none;
    }
    &:hover{
        border: none;
        padding: 0.5%;
    }
}
.bouton-fancy {
    border-radius: 1em;
    background: $greyLight;
    background-image: -webkit-linear-gradient(top, $greyLight, $greyDark);
    background-image: -moz-linear-gradient(top, $greyLight, $greyDark);
    background-image: -ms-linear-gradient(top, $greyLight, $greyDark);
    background-image: -o-linear-gradient(top, $greyLight, $greyDark);
    background-image: linear-gradient(to bottom, $greyLight, $greyDark);
    border: none;
    &:hover {
        background: $greyDark;
        border: none;
        padding: 0.5%;
    }
    &:active{
        border: none;
    }
}
.bouton-fancy-bleu {
    color: $white;
    border-radius: 1em;
    background: $blueLight;
    background-image: -webkit-linear-gradient(top, $blueLight, $blueDark);
    background-image: -moz-linear-gradient(top, $blueLight, $blueDark);
    background-image: -ms-linear-gradient(top, $blueLight, $blueDark);
    background-image: -o-linear-gradient(top, $blueLight, $blueDark);
    background-image: linear-gradient(to bottom, $blueLight, $blueDark);
    border: none;
    &:hover {
        background: $blueDark;
        border: none;
        padding: 0.5%;
    }
    &:active{
        border: none;
    }
}
.bouton-fancy-vert {
    color: $white;
    border-radius: 1em;
    background:$greenLight ;
    background-image: -webkit-linear-gradient(top,$greenLight , $greenDark);
    background-image: -moz-linear-gradient(top,$greenLight , $greenDark);
    background-image: -ms-linear-gradient(top,$greenLight , $greenDark);
    background-image: -o-linear-gradient(top,$greenLight , $greenDark);
    background-image: linear-gradient(to bottom,$greenLight , $greenDark);
    border: none;
    &:hover {
        background: $greenDark;
        border: none;
        padding: 0.5%;    
    }
    &:active{
        border: none;
    }
}
.bouton-fancy-violet {
    color: $white;
    border-radius: 1em;
    background: $violetLight;
    background-image: -webkit-linear-gradient(top, $violetLight, $violetDark);
    background-image: -moz-linear-gradient(top, $violetLight, $violetDark);
    background-image: -ms-linear-gradient(top, $violetLight, $violetDark);
    background-image: -o-linear-gradient(top, $violetLight, $violetDark);
    background-image: linear-gradient(to bottom, $violetLight, $violetDark);
    border: none;
    &:hover {
        background: $violetDark;
        padding: 0.5%;
        border: none;
    }
    &:active{
        border: none;
    }
}
.bouton-fancy-orange {
    color: $white;
    border-radius: 1em;
    background: $orangeLight;
    background-image: -webkit-linear-gradient(top, $orangeLight, $orangeDark);
    background-image: -moz-linear-gradient(top, $orangeLight, $orangeDark);
    background-image: -ms-linear-gradient(top, $orangeLight, $orangeDark);
    background-image: -o-linear-gradient(top, $orangeLight, $orangeDark);
    background-image: linear-gradient(to bottom, $orangeLight, $orangeDark);
    border: none;
    &:hover {
        padding: 0.5%;
        background: $orangeDark;
        border: none;
    }
    &:active{
        border: none;
    }
}

.bouton-fancy-rouge {
    color: $white;
    border-radius: 1em;
    background: $redLight;
    background-image: -webkit-linear-gradient(top, $redLight, $redDark);
    background-image: -moz-linear-gradient(top, $redLight, $redDark);
    background-image: -ms-linear-gradient(top, $redLight, $redDark);
    background-image: -o-linear-gradient(top, $redLight, $redDark);
    background-image: linear-gradient(to bottom, $redLight, $redDark);
    border: none;
    &:hover {
        padding: 0.5%;
        background: $redDark;
        border: none;
    }
    &:active{
        border: none;
    }
}