$greyDark : #CFCFCF;
$greyLight: #D5D5D5;

/* Header de base */
header{
    width: 100%;
    padding: 2% 1%;
    background-color: $greyLight;
    @include box-sizing(border-box);
    border-bottom: solid 3px $greyDark;
}

/* Jumbotron de base */
.jumbotron{
    display: inline-block;
    padding: 2% 1%;
    background-color: $greyLight;
    @include box-sizing(border-box);
   border: solid 3px $greyDark;
    border-radius: 3px;
    & > h1 {
        padding-bottom: 1%;
    }
    & > p {
        padding-left: 1.5%;
        padding-right: 1.5%;
    }
    & > button{
        float: right;
        margin-right:1.5%; 
    }
}

/* Menu de base */
ul.navbar {
    text-align: center;
    margin-left: 0;
    font-size: 0;
    background-color: #4D8FE8;
    & > li{
        font-size: 1rem;
        @include box-sizing(border-box);
        text-align: center;
        padding: 1% 0.85%;
        display: inline-block;
        border-bottom: solid 3px #4D8FE8;

        &:hover {
            background-color: #456DA4;
            border-bottom: solid 3px #456DA4; 
        }
        & > a {
            color: #ffffff;
            text-decoration: none;
        }
        &.disabled{
            cursor: not-allowed;
            & > a{
                cursor: not-allowed; 
            }
        }
        &.active{
            border-bottom: solid 3px #456DA4;
        }
        @media screen and (orientation: portrait) and (max-width: 800px){
            width: 100%;
            &.active{
                background-color: #456DA4;
            }
        }
    }
}

/* Fil d'ariane de base */

ul.breadcrumb{
    margin-left: 0;
    font-size: 0;
    & > li{
        font-size: 1rem;
        @include box-sizing(border-box);
        display: inline-block;
        color: #3d3d3d;
        &:hover {
            color: #456DA4;
        }
        & > a {
            color: #3d3d3d;
            text-decoration: none;
            &:hover{
                color: #456DA4;
            }
        }
        &::after{
            content: ">";
            color: #456DA4;
        }
        &:last-child::after{
            content: none;
        }
    }
}

/* Pagination de base */

ul.pagination {
    text-align: center;
    margin-left: 0;
    font-size: 0;
    & > li{
        background-color: #4D8FE8;
        font-size: 1rem;
        @include box-sizing(border-box);
        text-align: center;
        padding: 0.5% 0.5%;
        display: inline-block;
        border: solid 1px #456DA4;
        border-radius: 3px;
        margin-left: 1%;
        &:hover {
            background-color: #456DA4;
        }
        & > a {
            color: #ffffff;
            text-decoration: none;
        }
        &.disabled{
            cursor: not-allowed;
            & > a{
                cursor: not-allowed; 
            }
        }
        &.active > a{
            text-decoration: underline;
        }
    }
}