.grille-inline{
	width: 100%;
    @include box-sizing(border-box);
    & > .line{
		display: block;
		font-size: 0;
		& > .span-1{
			font-size: 1rem;
			display: inline-block;
			width: 10.25%;
			margin-left: 2%;
		}
		& > .span-2{
			font-size: 1rem;
			display: inline-block;
			width: 22.5%;
			margin-left: 2%;
		}
		& > .span-3{
			font-size: 1rem;
			display: inline-block;
			width: 34.75%;
			margin-left: 2%;
		}
		& > .span-4{
			font-size: 1rem;
			display: inline-block;
			width: 47%;
			margin-left: 2%;
		}
		& > .span-5{
			font-size: 1rem;
			display: inline-block;
			width: 59.25%;
			margin-left: 2%;
		}
		& > .span-6{
			font-size: 1rem;
			display: inline-block;
			width: 71.50%;
			margin-left: 2%;
		}
		& > .span-7{
			font-size: 1rem;
			display: inline-block;
			width: 83.75%;
			margin-left: 2%;
		}
		& > .span-8{
			font-size: 1rem;
			display: inline-block;
			width: 96%;
			margin-left: 2%;
		}

		& > .offset-1{
			font-size: 1rem;
			margin-left: 14.25%;
		}
		& > .offset-2{
			font-size: 1rem;
			margin-left: 26.5%;
		}
		& > .offset-3{
			font-size: 1rem;
			margin-left: 38.75%;
		}
		& > .offset-4{
			font-size: 1rem;
			margin-left: 51%;
		}
		& > .offset-5{
			font-size: 1rem;
			margin-left: 63.25%;
		}
		& > .offset-6{
			font-size: 1rem;
			margin-left: 75.50%;
		}
		& > .offset-7{
			font-size: 1rem;
			margin-left: 87.75%;
		}
		& > .back{
			display: block; 
		}
	}
	& > .line-no-marge{
		display: block;
		font-size: 0;
		& > .span-1{
			font-size: 1rem;
			display: inline-block;
			width: 12.50%;
		}
		& > .span-2{
			font-size: 1rem;
			display: inline-block;
			width: 25%;
		}
		& > .span-3{
			font-size: 1rem;
			display: inline-block;
			width: 37.50%;
		}
		& > .span-4{
			font-size: 1rem;
			display: inline-block;
			width: 50%;
		}
		& > .span-5{
			font-size: 1rem;
			display: inline-block;
			width: 62.5%;
		}
		& > .span-6{
			font-size: 1rem;
			display: inline-block;
			width: 75%;
		}
		& > .span-7{
			font-size: 1rem;
			display: inline-block;
			width: 87.50%;
		}
		& > .span-8{
			font-size: 1rem;
			display: inline-block;
			width: 100%;
		}

		& > .offset-1{
			font-size: 1rem;
			margin-left: 12.5%;
		}
		& > .offset-2{
			font-size: 1rem;
			margin-left: 25%;
		}
		& > .offset-3{
			font-size: 1rem;
			margin-left: 37.50%;
		}
		& > .offset-4{
			font-size: 1rem;
			margin-left: 50%;
		}
		& > .offset-5{
			font-size: 1rem;
			margin-left: 62.5%;
		}
		& > .offset-6{
			font-size: 1rem;
			margin-left: 75%;
		}
		& > .offset-7{
			font-size: 1rem;
			margin-left: 87.50%;
		}
		& > .back{
			display: block; 
		}
	}
}

.grille-float{
	width: 100%;
    @include box-sizing(border-box);
    & > .line{
		display: block;
		font-size: 0;
		& > .span-1{
			font-size: 1rem;
			float: left;
			width: 10.25%;
			margin-left: 2%;
		}
		& > .span-2{
			font-size: 1rem;
			float: left;
			width: 22.5%;
			margin-left: 2%;
		}
		& > .span-3{
			font-size: 1rem;
			float: left;
			width: 34.75%;
			margin-left: 2%;
		}
		& > .span-4{
			font-size: 1rem;
			float: left;
			width: 47%;
			margin-left: 2%;
		}
		& > .span-5{
			font-size: 1rem;
			float: left;
			width: 59.25%;
			margin-left: 2%;
		}
		& > .span-6{
			font-size: 1rem;
			float: left;
			width: 71.50%;
			margin-left: 2%;
		}
		& > .span-7{
			font-size: 1rem;
			float: left;
			width: 83.75%;
			margin-left: 2%;
		}
		& > .span-8{
			font-size: 1rem;
			float: left;
			width: 96%;
			margin-left: 2%;
		}


		& > .offset-1{
			font-size: 1rem;
			margin-left: 14.25%;
		}
		& > .offset-2{
			font-size: 1rem;
			margin-left: 26.5%;
		}
		& > .offset-3{
			font-size: 1rem;
			margin-left: 38.75%;
		}
		& > .offset-4{
			font-size: 1rem;
			margin-left: 51%;
		}
		& > .offset-5{
			font-size: 1rem;
			margin-left: 63.25%;
		}
		& > .offset-6{
			font-size: 1rem;
			margin-left: 75.50%;
		}
		& > .offset-7{
			font-size: 1rem;
			margin-left: 87.75%;
		}
		& > .back{
			clear: both;
		}
		&::after{
			content: "";
			clear: both;
			float: none;
			display: block;
		}
	}

	& > .line-no-marge{
		display: block;
		font-size: 0;
		& > .span-1{
			font-size: 1rem;
			float: left;
			width: 12.50%;
		}
		& > .span-2{
			font-size: 1rem;
			float: left;
			width: 25%;
		}
		& > .span-3{
			font-size: 1rem;
			float: left;
			width: 37.50%;
		}
		& > .span-4{
			font-size: 1rem;
			float: left;
			width: 50%;
		}
		& > .span-5{
			font-size: 1rem;
			float: left;
			width: 62.5%;
		}
		& > .span-6{
			font-size: 1rem;
			float: left;
			width: 75%;
		}
		& > .span-7{
			font-size: 1rem;
			float: left;
			width: 87.50%;
		}
		& > .span-8{
			font-size: 1rem;
			float: left;
			width: 100%;
		}

		& > .offset-1{
			font-size: 1rem;
			margin-left: 12.5%;
		}
		& > .offset-2{
			font-size: 1rem;
			margin-left: 25%;
		}
		& > .offset-3{
			font-size: 1rem;
			margin-left: 37.50%;
		}
		& > .offset-4{
			font-size: 1rem;
			margin-left: 50%;
		}
		& > .offset-5{
			font-size: 1rem;
			margin-left: 62.5%;
		}
		& > .offset-6{
			font-size: 1rem;
			margin-left: 75%;
		}
		& > .offset-7{
			font-size: 1rem;
			margin-left: 87.50%;
		}
		& > .back{
			clear: both;
		}
		&::after{
			content: "";
			clear: both;
			float: none;
			display: block;
		}
	}
}

@import "mixgrille";
$tailleColMarge: 10.25%; 
$tailleColNoMarge: 12.5%;
$nbCol: 8;
.grille-mixin{
	@include contener;

	& :nth-child(1){
		@include grille($tailleColMarge, $nbCol, 1, 0);
	}
	& :nth-child(2){
		@include grille($tailleColMarge, $nbCol, 1, 0);
	}
	& :nth-child(3){
		@include grille($tailleColMarge, $nbCol, 1, 0);
	}
	& :nth-child(4){
		@include grille($tailleColMarge, $nbCol, 1, 0);
	}
	& :nth-child(5){
		@include grille($tailleColMarge, $nbCol, 1, 0);
	}
	& :nth-child(6){
		@include grille($tailleColMarge, $nbCol, 1, 0);
	}
	& :nth-child(7){
		@include grille($tailleColMarge, $nbCol, 1, 0);
	}
	& :nth-child(8){
		@include grille($tailleColMarge, $nbCol, 1, 0);
	}
}
.grille-mixin-offset{
	@include contener;
	& :nth-child(1){
		@include grille($tailleColMarge, $nbCol, 1, 0);
	}
	& :nth-child(2){
		@include grille($tailleColMarge, $nbCol, 2, 1);
	}
	& :nth-child(3){
		@include grille($tailleColMarge, $nbCol, 1, 3);
	}
}
.grille-mixin-no-marge{
	@include contener;

	& :nth-child(1){
		@include grilleNoMarge($tailleColNoMarge, $nbCol, 1, 0);
	}
	& :nth-child(2){
		@include grilleNoMarge($tailleColNoMarge, $nbCol, 1, 0);
	}
	& :nth-child(3){
		@include grilleNoMarge($tailleColNoMarge, $nbCol, 1, 0);
	}
	& :nth-child(4){
		@include grilleNoMarge($tailleColNoMarge, $nbCol, 1, 0);
	}
	& :nth-child(5){
		@include grilleNoMarge($tailleColNoMarge, $nbCol, 1, 0);
	}
	& :nth-child(6){
		@include grilleNoMarge($tailleColNoMarge, $nbCol, 1, 0);
	}
	& :nth-child(7){
		@include grilleNoMarge($tailleColNoMarge, $nbCol, 1, 0);
	}
	& :nth-child(8){
		@include grilleNoMarge($tailleColNoMarge, $nbCol, 1, 0);
	}
}

.grille-mixin-no-marge-offset{
	@include contener;

	& :nth-child(1){
		@include grilleNoMarge($tailleColNoMarge, $nbCol, 1, 0);
	}
	& :nth-child(2){
		@include grilleNoMarge($tailleColNoMarge, $nbCol, 2, 1);
	}
	& :nth-child(3){
		@include grilleNoMarge($tailleColNoMarge, $nbCol, 1, 3);
	}
}