@import "compass/css3";

@mixin grille($tailleCol, $nbCol, $largBox, $decal){
	@include box-sizing(border-box);
	display: inline-block;
	font-size: 1rem;
	$tailleCoutiere : (( 100 - ( $nbCol *  $tailleCol )) / ($nbCol + 1) );
	margin-left: (( $decal * $tailleCol ) + (( $decal + 1 ) * $tailleCoutiere ));

	width: (( $largBox * $tailleCol ) + (( $largBox -  1 ) * $tailleCoutiere ));
} 

@mixin grilleNoMarge($tailleCol, $nbCol, $largBox, $decal){
	@include box-sizing(border-box);
	font-size: 1rem;
	display: inline-block;
	$tailleCoutiere : (( 100 - ( $nbCol *  $tailleCol )) / ($nbCol ) );
	margin-left: (( $decal * $tailleCol ) + (( $decal + 1 ) * $tailleCoutiere ));

	width: (( $largBox * $tailleCol ) + (( $largBox -  1 ) * $tailleCoutiere )) + $tailleCoutiere;
}

@mixin contener(){
	font-size: 0;
}