@import "mixgrille";
$colorFont: black;
$backgroungNav:#B0B0B0;

section#content{

	@include contener;
	a{
		text-decoration: none;
	}
	.alert-box-success{
		font-size: 1rem;
	}
	.alert-box-danger{
		font-size: 1rem;
	}
	section{
		h4{
			text-align: center;
			margin-top: 2%;
			margin-bottom: 2%;
		}
		hr{
			margin-top: 2%;
		}
		p{
			font-size: 1.5rem;
			margin-top: 2%;
			font-weight: bold;
		}
		table{
			@include grille(20%, 5, 1, 2);
			margin-top: 2%;
			font-size: 1rem;
			font-weight: bold;
			tbody{
				tr{
					margin-top: 2%;
					td{
						margin-right: 2%;
					}
				}
			}
		}
		article{

			.formMediatheque{
				form{
					@include grille(20%, 5, 3, 1);
					input{
						margin-right: 2%;
					}
					select{
						margin-right: 2%;
						margin-top: 2%;
					}
					input[type="number"] {
						margin-right: 2%;
					}
					label{
						font-size: 1rem;
						margin-right: 2%;
						margin-top: 2%;
						font-weight: bold;
					}
				}

				@media screen and (orientation:portrait) and (max-width: 800px){
					@include grille(98%, 1, 1, 0);
					margin-top: 2%;
					p{
						font-size: 1rem;
						margin-top: 2%;
						font-weight: bold;
					}
					input{
						margin-top: 2%;
					}
					select{
						margin-top: 2%;
					}
				}
				@media screen and (orientation:landscape) and (max-width: 800px){
					@include grille(20%, 5, 3, 1);
				}
			}
				.ajoutDoc{
					@include grille(30%, 3, 1, 1);
					input{
						margin-right: 2%;
					}
					select{
						margin-right: 2%;
						margin-top: 2%;
					}
					input[type="number"] {
						margin-right: 2%;
					}
					label{
						font-size: 1rem;
						margin-right: 2%;
						margin-top: 2%;
						font-weight: bold;
					}
				

				@media screen and (orientation:portrait) and (max-width: 800px){
					@include grille(98%, 1, 1, 0);
					margin-top: 2%;
					p{
						font-size: 1rem;
						margin-top: 2%;
						font-weight: bold;
					}
					input{
						margin-top: 2%;
					}
					select{
						margin-top: 2%;
					}
				}
				@media screen and (orientation:landscape) and (max-width: 800px){
					@include grille(30%, 3, 1, 1);
				}
			}
		}
		.ajoutDoc{
				@include grille(30%, 3, 1, 1);
				input{
					margin-right: 2%;
				}
				select{
					margin-right: 2%;
					margin-top: 2%;
				}
				input[type="number"] {
					margin-right: 2%;
				}
				label{
					font-size: 1rem;
					margin-right: 2%;
					margin-top: 2%;
					font-weight: bold;
				}
			

			@media screen and (orientation:portrait) and (max-width: 800px){
				@include grille(98%, 1, 1, 0);
				margin-top: 2%;
				p{
					font-size: 1rem;
					margin-top: 2%;
					font-weight: bold;
				}
				input{
					margin-top: 2%;
				}
				select{
					margin-top: 2%;
				}
			}
			@media screen and (orientation:landscape) and (max-width: 800px){
				@include grille(30%, 3, 1, 1);
			}
		}
		form{
			@include grille(20%, 5, 1, 2);
			p{
				font-size: 1rem;
				margin-top: 2%;
				font-weight: bold;
			}
			input{
				margin-top: 2%;
			}
			@media screen and (orientation:portrait) and (max-width: 800px){
				@include grille(98%, 1, 1, 0);
			}
			@media screen and (orientation:landscape) and (max-width: 800px){
				@include grille(20%, 5, 1, 2);
			}
		}
		.connection{
			@include grille(30%, 3, 2, 0.5);
			p{
				font-size: 1rem;
				margin-top: 2%;
				font-weight: bold;
			}
			input{
				margin-top: 2%;
			}
			@media screen and (orientation:portrait) and (max-width: 800px){
				@include grille(98%, 1, 1, 0);
			}
			@media screen and (orientation:landscape) and (max-width: 800px){
				@include grille(30%, 3, 1, 1);
			}
		}
		&>ul{
			@include grille(25%, 4, 1.2, 0.2);
			margin-top:2%;
			vertical-align: top;
			font-size: 1rem;
			list-style:none;
		}
		&>ul>li>{
			@include grille(100%, 1, 1, 0);
			p{
				margin-top:2%;
				text-align: justify;
			}
			h1{
				text-align: center;
				margin-top:2%;
			}
			h4,h6{
				margin-top:2%;
			}
			h6:first-letter{
				text-transform: uppercase;
			}
			img{
				@include grille(100%, 1, 0.6, 0.2);
				font-size: 1rem;
			}
		}
		&>ul#afficheDoc{
			@include grille(30%, 3, 2, 0.5);
			@media screen and (orientation:portrait) and (max-width: 800px){
				@include grille(30%, 3, 3, 0);
			}
			margin-top:2%;
			font-size: 1rem;
			list-style:none;
		}
		&>img{
			@include grille(25%, 4, 0.4, 1.2);
			margin-top:2%;
			font-size: 1rem;
		}
		
		@media screen and (orientation:portrait) and (max-width: 800px){
			@include grille(98%, 1, 1, 0);
			&>ul{
				@include grille(98%, 1, 1, 0);
				vertical-align: top;
				font-size: 1rem;
				list-style:none;
			}
			&>img{
				@include grille(98%, 1, 1, 0);
				font-size: 1rem;
			}
			&>ul>li>img{
				@include grille(98%, 1, 1, 0);
			}
		}
		@media screen and (orientation:landscape) and (max-width: 800px){
			&>ul{
				@include grille(48%, 2, 1.2, 0);
				vertical-align: top;
				font-size: 1rem;
				list-style:none;
			}
			&>img{
				@include grille(48%, 2, 0.8, 0);
				font-size: 1rem;
			}
		}
		.connection{
			font-size: 1rem;
			h1{
				@include grille(30%, 3, 1, 1.2);

				margin-top:2%;

			}
			label{
				@include grille(30%, 3, 1, 1.2);
				margin-top:1%;
				font-weight: bold;
			}
			input{
				@include grille(30%, 3, 1, 1.2);
				margin-top:1%;
			}
			button{
				@include grille(30%, 3, 1, 1.2);
				margin-top:2%;
			}
			.alert-box-danger{
				@include grille(30%, 3, 1, 1.2);
				margin-top:2%;
			}
		}
	}
}